flows.json
[{"id":"ba023ede.5287e","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"d92a187.dbbe8e8","type":"ui_form","z":"ba023ede.5287e","name":"","label":"","group":"abeef49b.0d5cf8","order":1,"width":0,"height":0,"options":[{"label":"radius_mean","value":"rm","type":"number","required":true,"rows":null},{"label":"perimeter_mean","value":"pm","type":"number","required":true,"rows":null},{"label":"area_mean","value":"am","type":"number","required":true,"rows":null},{"label":"compactness_mean","value":"cm","type":"number","required":true,"rows":null},{"label":"concavity_mean","value":"cnm","type":"number","required":true,"rows":null},{"label":"concave points_mean","value":"cpm","type":"number","required":true,"rows":null}],"formValue":{"rm":"","pm":"","am":"","cm":"","cnm":"","cpm":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":93,"y":279.00000381469727,"wires":[["bf1223af.5146f","e99bcab6.4c8818"]]},{"id":"bf1223af.5146f","type":"debug","z":"ba023ede.5287e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":230,"y":360,"wires":[]},{"id":"e99bcab6.4c8818","type":"function","z":"ba023ede.5287e","name":"pre-token","func":"global.set(\"rm\",msg.payload.rm)\nglobal.set(\"pm\",msg.payload.pm)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"cm\",msg.payload.cm)\nglobal.set(\"cnm\",msg.payload.cnm)\nglobal.set(\"cpm\",msg.payload.cpm)\nvar apikey=\"gLimCx8lIZ3DlqYy5XbTTV5XIP3xKjmGQvO8cYJd2AQG\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":220,"wires":[["85175fa7.b8242"]]},{"id":"85175fa7.b8242","type":"http request","z":"ba023ede.5287e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":392.00000381469727,"y":264.00000286102295,"wires":[["f6631935.e91168","3853ee2.defea12"]]},{"id":"f6631935.e91168","type":"debug","z":"ba023ede.5287e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":320,"wires":[]},{"id":"3853ee2.defea12","type":"function","z":"ba023ede.5287e","name":"Pre Prediction","func":"var rm = global.get(\"rm\")\nvar pm = global.get(\"pm\")\nvar am = global.get(\"am\")\nvar cm = global.get(\"cm\")\nvar cnm = global.get(\"cnm\")\nvar cpm = global.get(\"cpm\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"radius_mean\",\"perimeter_mean\",\"area_mean\",\"compactness_mean\",\"concavity_mean\",\"concave points_mean\"],\"values\":[[rm,pm,am,cm,cnm,cpm]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":584.0000076293945,"y":216.0000021457672,"wires":[["adf7c8b0.753358"]]},{"id":"adf7c8b0.753358","type":"http request","z":"ba023ede.5287e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/a1cd2fbe-c7b0-4c53-a5ba-4e3cc9b41de2/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":240,"wires":[["c8a2dccd.d8583","64e0224d.1e602c"]]},{"id":"c8a2dccd.d8583","type":"debug","z":"ba023ede.5287e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":962.9999914169312,"y":324.00000381469727,"wires":[]},{"id":"70df2c2b.a33664","type":"inject","z":"ba023ede.5287e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":120,"wires":[["e99bcab6.4c8818"]]},{"id":"327e8f14.d3c91","type":"debug","z":"ba023ede.5287e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":793.9999885559082,"y":107.0000057220459,"wires":[]},{"id":"64e0224d.1e602c","type":"function","z":"ba023ede.5287e","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":639.6000595092773,"y":148.00000190734863,"wires":[["327e8f14.d3c91","5526c208.1b614c"]]},{"id":"5526c208.1b614c","type":"ui_text","z":"ba023ede.5287e","group":"abeef49b.0d5cf8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":757.6000366210938,"y":381.20001220703125,"wires":[]},{"id":"abeef49b.0d5cf8","type":"ui_group","z":"","name":"Breast Cancer Prediction","tab":"65089aea.63a844","order":1,"disp":true,"width":"6","collapse":false},{"id":"65089aea.63a844","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]